/*************Global***********/

body {
        background: url(../img/gplaypattern.png);
    }

.main {
  background: rgb(224, 198, 223);
  border-radius: 3em;
  margin: auto;
  padding: 1em;
  max-width: 900px;
  min-width: 300px;
}

.awards{
  background: rgb(36, 17, 28);
  color: rgb(224, 198, 223);
  border-radius: 2em;
  margin:1.5em;
  padding: 1em;
    }


/*
 background: rgb(36, 17, 28) Dark purple
Lilac: rgb (224, 198, 223)\
      rgb(210, 155, 213)

 background: rgb(218, 178, 167); light pink

background: rgb(185, 207, 234); blue   153, 174, 199 */ 

/*************IMG***********/

#img img{ 
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: rgb(153, 174, 199) 4px dotted;
  display: inline-block;
  padding: .25em;
  margin: 2em auto;
  align-content: center;
 }

#me {
 border-radius: 2em;
  max-height: 500px ;
  max-width: 500px;
}

@media screen and(max-width=500px) {
  .main {
  column-count: 1;
  }
  
  ul.resume {
    column-count: 1;
  }
}

/*************Structure***********/

/* https://raw.githubusercontent.com/vcd/web-2-starter/master/css/grid.css */



/*************Typography***********/

h1{
  text-align: center;
  font-family: 'Rochester', cursive;
  font-size: 5em;
  margin-top: 1em;
  letter-spacing: 2px;
  color: rgb(88, 56, 81);
}

h2 {
  text-align: center;
  font-family: 'Rochester', cursive;
  font-size: 2.2em;
  letter-spacing: 2px;
  color: rgb(88, 56, 81);
  margin: .5em 0 1em 0;
}


h4 {
  font-weight: 700;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: rgb(88, 56, 81);
}

p {
  color: rgb(36, 17, 28);
}

.portfolio {
  font-family: 'Roboto slab', sans-serif;
  font-weight: 100;
}

blockquote {
  font-family: 'Roboto slab', sans-serif;
  font-weight: 800;
    margin: 2em;
  text-align: center;
}


/*************Naviagation***********/

/*a {
    text-align: center;
    margin: 10px 0 0 0;
    display: inline-block;
    height: 50px;
    width: 100px;
    font-size: 1em;
}*/

nav {
  margin:3em auto;
  text-align: center;

}

a
{
  font-size: 1em;
  font-family: 'Roboto slab', sans-serif;
  font-weight: 300;
  display: inline-block;
  list-style: none;
  border-radius: 40%;
  text-align: center;
  text-decoration: none;
  color: rgb(218, 178, 167);
  margin: 0 .2  0 .2;
  
  
  transition: all 2s;
}




/*************Lists***********/


li{   
  list-style: none; 
  padding: .7em;
  display: inline-block;
  text-decoration: none;
}

.resume li {
  text-decoration: none;
  display: block;
}




/*************Links***********/

a:hover,
a:active {
  color:ghostwhite;
  background: rgb(88, 56, 81);
  opacity: .9;
  
  
  transition: all 2s;
}


a:link,
a:visited{
  
  transition: all 1s;
}


/*************Gallery***********/

/*Portfolio CSS and HTML by Oliver Knoblich on Codepen http://codepen.io/oknoblich/pen/ELfzd?editors=110 */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  width: 640px;
  margin: 2em auto;
  padding: 5px;
  background: rgb(36, 17, 28);
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  
  transition: .5s transform;
  transform: translateX(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: 1s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}





/* FOOTER */

footer {
  text-align: center;
  margin: 5em auto 0;
  font-size: .7em;
  background: rgb(36, 17, 28);
  border-radius: 1em;
  max-width: 500px;
  min-width: 300px;
  
  
  transition: none;
  
}


