/*************Global***********/

body {
        background: url(../img/gplaypattern.png);
    }

.main {
  background: rgb(224, 198, 223);
  border-radius: 3em;
  margin: auto;
  padding: 1em;
  /*opacity: .7;*/
  max-width: 1000px;
  min-width: 400px;
}

.awards{
  background: rgb(36, 17, 28);
  border-radius: 2em;
  margin:1.5em;
  padding: 2em;
    }

/*
 background: rgb(36, 17, 28) Dark purple
Lilac: rgb (224, 198, 223)\
      rgb(210, 155, 213)

 background: rgb(218, 178, 167); light pink

background: rgb(185, 207, 234); blue   153, 174, 199 */ 

/*************IMG***********/

#img img { 
  width: 15%;
  height: 15%;
  border-radius: 50%;
  border: rgb(153, 174, 199) 4px dotted;
  display: inline-block;
  padding: .25em;
  margin: 2em auto;
  align-content: center;
 }

#me {
 border-radius: 30%;
}



/*************Structure***********/

/* https://raw.githubusercontent.com/vcd/web-2-starter/master/css/grid.css */



/*************Typography***********/

h1{
  text-align: center;
  font-family: 'Rochester', cursive;
  font-size: 5em;
  letter-spacing: 2px;
  color: rgb(88, 56, 81);
}

h2 {
  text-align: center;
  font-family: 'Rochester', cursive;
  font-size: 2.2em;
  letter-spacing: 2px;
  color: rgb(88, 56, 81);
}

h4 {
  font-weight: 700;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: rgb(88, 56, 81);
}

p {
  color: rgb(218, 178, 167);
}

.portfolio {
  font-family: 'Roboto slab', sans-serif;
  font-weight: 100;
}
/*************Naviagation***********/

/*a {
    text-align: center;
    margin: 10px 0 0 0;
    display: inline-block;
    height: 50px;
    width: 100px;
    font-size: 1em;
}*/

nav {
  margin:3em auto;
  text-align: center;
  font-family: 'Roboto slab', sans-serif;
  font-weight: 300;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.nav ul li,
h2+ul li{   
  display: inline-block;
  padding: 10px; 
  border-radius: 25%;
  font-size:0.9em; 
  align-content: center;
}



/*************Lists***********/


li{   
  list-style: none; 
  padding: 10px; 
  display: inline-block;
  text-decoration: none;
}

ul.resume li {
  text-decoration: none;
  display: block;
  line-height: .5em;
}

ul.contact li {
  font-size: 1em;
  display: inline-block;
  height: 50px;
  width: 100px;
  list-style: none;
  text-decoration: none;
  align: center;
  line-height: 50px;
  border-radius: 40%;
}


/*************Links***********/

a:hover {
  color:black;
  opacity: .5;
  
  transition: all 1s;
}


a:link,
a:visited{
  color: rgb(218, 178, 167);
  
  transition: all 1s;
}


/*************Gallery***********/

/*Portfolio CSS and HTML by Oliver Knoblich on Codepen http://codepen.io/oknoblich/pen/ELfzd?editors=110 */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  width: 640px;
  margin: 2em auto;
  padding: 5px;
  background: rgb(218, 178, 167);
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}





/* FOOTER */

footer {
     content-align: center;
}


