/*************Global***********/



/*COLORS
PINKS
  Dark:#d82767
  Light: #ffcccc
TEALS
  DARK: #186077
  LIGHT: #97d6ea
*/

body {
        background: url(https://raw.githubusercontent.com/mmunsell16/mmunsell16.github.io/master/img/paper.png);
    }

.main {
  background: ghostwhite;
  border-radius: 3em;
  margin: auto;
  padding: 1em;
  max-width: 900px;
  min-width: 300px;
}

.awards{
  background: #ffcccc;
  color: rgb(224, 198, 223);
  border-radius: 2em;
  margin:1.5em;
  padding: 1em;
    }


/* */ 

/*************IMG***********/

#img img{ 
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: rgb(153, 174, 199) 4px dotted;
  display: inline-block;
  padding: .25em;
  margin: 2em auto;
  align-content: center;
 }

#me {
 border-radius: 2em;
  max-height: 500px ;
  max-width: 500px;
}

@media screen and(max-width=500px) {
  body {
  column-count: 1;
  }
  

}

/*************Structure***********/

/* https://raw.githubusercontent.com/vcd/web-2-starter/master/css/grid.css */



/*************Typography***********/

/* h1{
  text-align: center;
  font-family: 'Rochester', cursive;
  font-size: 5em;
  margin-top: 1em;
  letter-spacing: 2px;
  color: #d82767;
} */

h2 {
  text-align: center;
  font-family: 'Rochester', cursive;
  font-size: 2.2em;
  letter-spacing: 2px;
  color: #d82767;
  margin: .5em 0 1em 0;
}


h4 {
  font-weight: 700;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  color: #d82767;
}

p {
  color: rgb(36, 17, 28);
}

.portfolio {
  font-family: 'Roboto slab', sans-serif;
  font-weight: 100;
}

/* blockquote {
  font-family: 'Roboto slab', sans-serif;
  font-weight: 800;
    margin: 2em;
  text-align: center;
} */


/*************Naviagation***********/

/*a {
    text-align: center;
    margin: 10px 0 0 0;
    display: inline-block;
    height: 50px;
    width: 100px;
    font-size: 1em;
}*/

svg{
  height: 150px;
  width: 80%;
/*   background: ghostwhite; */
  padding: 5px;
  border-radius: 2em;
}

nav {
  
  margin: 3em auto;
  text-align: center;
}

a
{
  font-size: 1em;
  font-family: 'Roboto slab', sans-serif;
  font-weight: 300;
  display: inline-block;
  list-style: none;
  border-radius: 40%;
  padding:10px;
  text-align: center;
  text-decoration: none;
  color: #186077;
  margin: 0 .2  0 .2;
  
  
  transition: all 2s;
}




/*************Lists***********/


li{   
  list-style: none; 
  padding: .7em;
  display: inline-block;
  text-decoration: none;
}

.resume li {
  text-decoration: none;
  display: block;
}


ul.contact li{
  display: block;
  margin: -1em;
  text-align: right
}

/*************Links***********/

a:hover,
a:active {
  color:#186077;
  background: ghostwhite;
  opacity: .9;
  
  transition: all 2s;
}


a:link,
a:visited{
  transition: all 1s;
}

a:active, a:visited{
  color:#d82767;
}




/*************Gallery***********/

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 1000px; 
  align: center;
  line-height: 300px;
}

#slider ul li img{
  width: 100%;
  height: auto;
} 

a.control_prev, a.control_next {
  position: absolute;
  top: 20%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  background: #97d6ea;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.6;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  background: #186077;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

