/*************Global***********/



/*COLORS
PINKS
  Dark:#d82767
  Light: #ffcccc
TEALS
  DARK: #186077
  LIGHT: #97d6ea
*/

body {
        background: url(img/paper.png);
    }

.main {
  background: ghostwhite;
  border-radius: 10%;
  margin: 1em auto;
  padding: .3em;
  max-width: 60%;
  min-width: 20%;
}

/*
.awards{
  background: #ffcccc;
  color: rgb(224, 198, 223);
  border-radius: 2em;
  margin:1em;
  padding: .1em;
    }
*/



/*************IMG***********/

/*
#img img{ 
  width: 20%;
  height: 20%;
  border-radius: 50%;
  border: rgb(153, 174, 199) 4px dotted;
  display: inline-block;
  padding: .25em;
  margin: 2em auto;
  align-content: center;
 }
*/

#me {
 border-radius: 20%;
  margin-top: 5em;
}

@media screen and(max-width=500px) {
  body {
  column-count: 1;
  }
  

}

/*************Structure***********/

/* https://raw.githubusercontent.com/vcd/web-2-starter/master/css/grid.css */



/*************Typography***********/


h2 {
  text-align: center;
  font-family: 'Rochester', cursive;
  font-size: 2.2em;
  letter-spacing: 2px;
  color: #d82767;
  margin: .25em 0 .5em 0;
}


h4 {
  font-weight: 700;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
   color: #186077;
}

/*
p {
  color: ;
}
*/

.portfolio {
  font-family: 'Roboto slab', sans-serif;
  font-weight: 100;
}




/*************Naviagation***********/


svg{
  height: 150px;
  width: 80%;
/*   background: ghostwhite; */
  padding: 5px;
  border-radius: 2em;
}

nav {
  margin: 3em auto;
  text-align: center;
}

nav ul {
  background: ghostwhite;
}

nav li {
  padding: .7em;
}

a {
  font-size: 1em;
  font-family: 'Roboto slab', sans-serif;
  font-weight: 300;
  display: inline-block;
  list-style: none;
  border-radius: 40%;
  padding:10px;
  text-align: center;
  text-decoration: none;
  color: #186077;
  margin: 0 .2  0 .2;
  
  
  transition: all 2s;
}




/*************Lists***********/


li{   
  list-style: none; 
/*  padding: .7em;*/
  display: inline-block;
  text-decoration: none;
   color: #186077;
}

.resume li {
  text-decoration: none;
  display: block;
}

/*
li a{
  color: #186077;
}
*/

ul.contact li{
  display: block;
  margin: -1em;
  text-align: right
}



/*************Links***********/

a:hover {
  color:#d82767;
  background: ghostwhite;
  opacity: .9;
  
  transition: all 2s;
}

a:link,
a:visited{
  transition: all 1s;
}

a:active, a:visited{
  color: #186077 ;
}


/**********Contact Form************/




/*************Gallery***********/


#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 1000px; 
  align: center;
  line-height: 300px;
}

#slider ul li img{
  width: 100%;
  height: auto;
} 

a.control_prev, a.control_next {
  position: absolute;
  top: 20%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
  